<a href="https://colab.research.google.com/github/klo-e/11.S944/blob/master/01_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 01 - 01 Introduction to Python

Python is a great high-level, general purpose programming language created by Guido van Rossum in 1991. Common uses include building desktop apps, games, backend web development and for this class, data analysis. Companies like Instagram, Amazon, Spotify and Facebook uses Python as well.

The current version we are using is Python 3.7.4. Some online tutorials may refer to Python 2, which defers slightly in syntax from Python 3.

Python Scripts run from top to bottom, left to right.

You can find out more from the [Official Python Documentation.](https://docs.python.org/3/)

## 01 - 02 Basic **Calculations** / Mathematical Operators

The Python interpreter allows you to use Python as a Calculator:


*   Addition (+)
*   Subtraction (-)
*   Multiplication (*)
*   Division (/)
*   Modulo (%, to calculate remainder of the division)
*   Power (**)

Python follows the order of precedence (PEDMAS/BODMAS).
This helps you to manipulate and change data later on.

In [0]:
#Addition
print(6+6)

In [0]:
#Subtraction
print (6-6)

0

In [0]:
#Multiplication
print (4*5)

20

In [0]:
#Division
print (10/2)

5.0

In [0]:
#Modulus
print (18%7)

4

In [0]:
#Raise to the power
print(4**2)

16

## **01 - 02a Variables**

Variables are used to store information in the code, assigned with an equal "=" sign. Variables are **case-sensitive**.

In plain english, x = 13 means to create a variable with the name x and assign it the value of 13. It **does not** mean that x is equal to 13.

## **01 - 03 Data Types**

Some common data types include:
*   String (*Str*, Python's version of text. Both single and double quotation works)
*   Integer (*Int*)
*   Float 
*   Boolean (*Bool*, whether something is True or False)
*   List (Collection of data which is ordered and mutable)
*   Tuple (Collection of data which is ordered and immutable)

Dictionary (Dict), Range, Set are also some data types in Python.



**It is important to understand the different data types as they exhibit different behaviour given similiar commands.**

In [0]:
#Example of string
'ab' + 'cd'

'abcd'

In [0]:
#Example of Integer
print(2+5)

7

In [0]:
#Example of Float
print(float(2+5))

7.0

In [0]:
#Example of Boolean
2 < 5

True

**More about strings**

In [0]:
#using upper
x = "happy birthday"
print(x)

happy birthday

In [0]:
#upper, capitalize, title
x.upper()

'HAPPY BIRTHDAY'

In [0]:
#slicing
#every letter is an index, starting from 0
word = "Honorificabilitudinitatibus"

In [0]:
word[0]

'H'

In [0]:
word[0:5]

'Honor'

In [0]:
len(word)

27

In [0]:
#variable[start:end:step]
word[0:27:2]

'Hnrfcbltdnttbs'

In [0]:
#start from 5 to the end
word[5:]

'ificabilitudinitatibus'

In [0]:
#get extract 'Honor', start from 0 
word[:5]

'Honor'

In [0]:
#start from the end, backwards
word[::-1]

'subitatinidutilibacifironoH'

In [0]:
#indexing - only returns the first instance of what you are searching for

word.index("bus")

24

In [0]:
word[word.index("bus"):]

'bus'

**More about Boolean**

In [0]:
2 > 3

False

In [0]:
2 == 3

False

In [0]:
2 != 3

True

In [0]:
# >= symbolizes less than or equals to
3 >= 3

True

In [0]:
#what will 4 = 4 give you? True, False, Invalid

**More about Boolean - If Conditions**

In [0]:
a = 8
b = 10

In [0]:
if a > b:
  print("a is bigger than b")
  
else:
  print("b is bigger than a")

b is bigger than a

In [0]:
a = 10
b = 10

In [0]:
if a > b:
  print("a is bigger than b")
elif b > a:
  print("b is bigger than a")
else: 
  print("Both numbers are equal")

Both numbers are equal

**More about Lists**

In [0]:
#Lists are created with square brackets [], and you can have lists within list

New_List = [40, 20, 12, 35, 57]
List_Two = [1,2,3,4,5,[14,18,20]]

In [0]:
#to get number 18, the 2nd number in the 2nd list
List_Two[5][1]

18

In [0]:
#Lists are mutable - which means that you can change items inside it.
A = [1,2,3]
A[0] = 5
print(A)

[5, 2, 3]

**More about Tuples** - Very similiar to Lists, except that they cannot be changed after it it created. For data that you do not want to be accidentally modified.

In [0]:
New_Tuple = 1,2,3,"A","B","C"

In [0]:
type(New_Tuple)

tuple

In [0]:
#Changing list to tuple
A = [1,2,3]
A = tuple(A)

**More about Dictionaries** {Key:Value}

In [0]:
#Dictionaries are created with curly brackets {}, and you can have dictionaries within dictionaries (called nested dictionaries)
team = {"Alicia":20, "Ken":19, "Tim": 20}
team["Ken"]

19

In [0]:
#Adding new items to the dictionary
team["Emma"]= 23
team

{'Alicia': 20, 'Emma': 23, 'Ken': 19, 'Tim': 20}

In [0]:
#Getting all the keys in the dictionary
team.keys()

dict_keys(['Alicia', 'Ken', 'Tim', 'Emma'])

In [0]:
#Getting all the values in the dictionary
team.values()

dict_values([20, 19, 20, 23])

In [0]:
#Trying to access via index - does not work
# team.keys()[]
#Change to list
new_team = list(team.keys())

In [0]:
#Having lists within a dictionary
team_info = {"Alicia":["F", 20, "MCP"],
             "Ken": ["M", 19, "GSD"],
             "Tim": ["M", 20, "SMArchs"]
            }

In [0]:
print(team_info["Ken"][2])

GSD

In [0]:
#Having dictionaries within dictionaries
team_info = {
            "Alicia":{"Gender":"F", "Age": 20, "Course": "MCP"},
            "Ken": {"Gender": "M","Age": 19, "Course": "GSD"},
             "Tim": {"Gender": "M", "Age": 20, "Course": "SMArchs"}
            }

In [0]:
team_info["Alicia"]["Age"]

20

## **01 - 04 Python Functions**
A function is a block of reusable code that only runs when called to carry out specific task(s). The idea is to put some commonly used code together and make a function, so that instead of writing the same code repeatedly, we can call the function.

Some Python built-in functions include type(),sum(), len() etc. User-defined functions can also be created to specify specific tasks.

Functions are made by defining them with 'def' and having parameters through them

Indentation is **VERY IMPORTANT** in python. 

Documentation can be found [here](https://www.w3schools.com/python/python_ref_functions.asp)

In [0]:
#definition with parameter
def sayhello(name):
  print("hello" + " " + name)

In [0]:
sayhello("kloe")

hello kloe

In [0]:
def myprogramme(breed):
  print("I have a "+  breed)
  
mydog("pug")
mydog("frenchie")
mydog("golden")

I have a pug
I have a frenchie
I have a golden

In [0]:
def myfunction(food):
  for x in food:
    print(x)


fruits = ["apple", "orange", "banana"]
cuisine = ["chinese", "italian", "japanese"]

myfunction(fruits)
myfunction(cuisine)

apple
orange
banana
chinese
italian
japanese

In [0]:
def my_function(monday, tuesday, wednesday):
  print("I had " + wednesday)

my_function(monday = "chinese", tuesday = "italian", wednesday = "japanese")

I had japanese

In [0]:
def sum_two_numbers(a, b):
    return a + b
  
sum_two_numbers(5,10)

15

In [0]:
list = [12, 20, 40, 50, "today", "dog", "traffic"]

In [0]:
for i in list:
  print(i)

12
20
40
50
today
dog
traffic

In [0]:
for i in range(len(list)):
    contents=list[i]
  
    if type(contents) == int:
     list[i] = contents + 5
    
list

[17, 25, 45, 55, 'today', 'dog', 'traffic']

**Print VS Return** <br>
"Print just shows the human user a string representing what is going on inside the computer. The computer cannot make use of that printing. return is how a function gives back a value. This value is often unseen by the human user, but it can be used by the computer in further functions

On a more expansive note, print will not in any way affect a function. It is simply there for the human user's benefit. It is very useful for understanding how a program works and can be used in debugging to check various values in a program without interrupting the program.

return is the main way that a function returns a value. All functions will return a value, and if there is no return statement (or yield but don't worry about that yet), it will return None. The value that is returned by a function can then be further used as an argument passed to another function, stored as a variable, or just printed for the benefit of the human user." - Source: Stack Overflow

## 01-05 Loops
While Loops (Code that will iterate through while the condition is True) and For Loops (On every loop, Variable becomes the next Variable in the iterable)

**More about While Loop**

In [0]:
while 2 > 1:
  print ("True")

In [0]:
x = 1
while x <= 10:
  print(x)
  x = x + 1

1
2
3
4
5
6
7
8
9
10

In [0]:
#Combining Logic with Loop, Extracting only Even numbers
y = 1 

while y <= 10:
  if y % 2 == 0:
    print(y)
  y = y + 1

2
4
6
8
10

**More about For Loop**

In [0]:
for i in range(1,11):
  print i

In [0]:
#for loop over dictionaries

#create a dictionary with key as students
students = {
    "MCP": ["Ben", "Angel", "Tanya", "Mark", "Peter"]
    "GSD": ["Harry", "Jack", "Rachel", "Amber", "Emma"]
    "SMArchS": ["Dan", "Melissa", "Sarah"]
}

In [0]:
for key in students.key():
  for name in students[key]:
    if "e" in name:
      print(name)

**List Comprehensions - Quick, concise ways to create list**

In [0]:
even_numbers = [x for x in range (1,101) if x % == 0]
print (even_numbers)