<a href="https://colab.research.google.com/github/klo-e/11.S944/blob/master/01_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 01 - 01 Introduction to Python

Python is a great high-level, general purpose programming language created by Guido van Rossum in 1991. Common uses include building desktop apps, games, backend web development and for this class, data analysis. Companies like Instagram, Amazon, Spotify and Facebook uses Python as well.

The current version we are using is Python 3.7.4. Some online tutorials may refer to Python 2, which defers slightly in syntax from Python 3.

You can find out more from the [Official Python Documentation.](https://docs.python.org/3/)

### 01 - 02 Basic **Calculations**

The Python interpreter allows you to use Python as a Calculator:


*   Addition (+)
*   Subtraction (-)
*   Multiplication (*)
*   Division (/)
*   Modulo (%, to calculate remainder of the division)
*   Power (**)

In [1]:
print(6+6)

12

In [2]:
print (6-6)

0

In [3]:
print (4*5)

20

In [6]:
print (10/2)

5.0

In [7]:
print (18%7)

4

In [8]:
print(4**2)

16

# **01 - 03 Data Types**

*   String (Str, Python's version of text. Both single and double quotation works)
*   Integer (Int)
*   Float 
*   Boolean (Bool, whether something is True or False)

**It is important to understand the different data types as they exhibit different behaviour given similiar commands.**

In [16]:
print(2+5)

7

In [10]:
#example of string
'ab' + 'cd'

'abcd'

***Functions***
Function: Block of reusable codes that only run when called to carry out specific task.
You can run data, also known as parameters in the function.
Saves you from repeating your code.

In [0]:
def sayhello(name):
  print("hello" + " " + name)

In [9]:
sayhello("kloe")

hello kloe

In [21]:
def mydog(breed):
  print("I have a "+  breed)
  
mydog("pug")
mydog("frenchie")
mydog("golden")

I have a pug
I have a frenchie
I have a golden

In [24]:
def myfunction(food):
  for x in food:
    print(x)


fruits = ["apple", "orange", "banana"]
cuisine = ["chinese", "italian", "japanese"]

myfunction(fruits)
myfunction(cuisine)

apple
orange
banana
chinese
italian
japanese

In [28]:
def my_function(monday, tuesday, wednesday):
  print("I had" + wednesday)`

my_function(monday = "chinese", tuesday = "italian", wednesday = "japanese")

I had japanese

In [29]:
def sum_two_numbers(a, b):
    return a + b
  
sum_two_numbers(5,10)

15

In [0]:
list = [12, 20, 40, 50, "today", "dog", "traffic"]

In [31]:
for i in list:
  print(i)

12
20
40
50
today
dog
traffic

In [35]:
for i in range(len(list)):
    contents=list[i]
  
    if type(contents) == int:
     list[i] = contents + 5
    
list

[17, 25, 45, 55, 'today', 'dog', 'traffic']